h3 {
    margin-bottom: 0;
}

.back-beje {
    background: #f8f8f8;
}

/* .back-red {
    height: 100%;
    background: url(/assets/img/back-red.png) no-repeat;
    background-size: cover;
} */

.card {
    margin: auto;
    border-radius: 8px;
    background-color: white;
    border: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,.075);
    padding-right: 0;
    padding-left: 0;
    margin-top: 20px;
}

.card-body {
    height: 185px;
    padding-top: 10px;
}

.card-img-top {
    width: 80px;
    margin: auto;
    padding-top: 5px;
}

.card-text {
    font-size: 14.5px;
}

.btn-acessar {
    background: #e32620;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 50px;
    line-height: 1;
    
    color: white;
    margin: 20px auto;
    width: 100px;
    transition: color .15s cubic-bezier(.455,.03,.515,.955),background .15s cubic-bezier(.455,.03,.515,.955);
}

.logo {
    display: block;
    max-width: 320px;
    margin: 15px auto;
  }

  .fundo-paulista {
    background: url("~/landingpage/assets/img/recorte_phixr.jpg") bottom;
    background-size: cover;
    height: inherit;
}

    .link-voltar {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .bottom-fixed {
        position: fixed;
        bottom: 0px;
        margin-bottom: 0px;
        font-size: 18px;
        padding-right: 17px;
        padding-left: 17px;
        }
      
    .fiz-pagamento-ok {
        margin-top: 30px;
    }    

@media (max-width: 768px) {

    .fiz-pagamento-ok {
        margin-top: 10px;
    }

    .bottom-fixed {
        font-size: 14px;
        bottom: 26px;        
    }
    
    .logo {
        width: 35%;
        margin: 6px auto 3px;
    }

    .card {
        width: 80%;
        /* text-align: center; */
        flex-direction: row;
        margin-top: 8px;  
        height: 90px;     
    }

    .card-title {
        font-size: 13px;
        min-width: 150px;
    }

    .card-text {
        font-size: 12px;
    }

     .card-img-top {
        margin: auto;
        padding: 5px;
    } 

     .card-body {
        height: 90px;
        padding-top: 5px;
        padding-bottom: 5px;

    } 

    .card-title {
        margin-bottom: 0px;
    }
   
    .btn-acessar {
        display: none;
    }

    .link-voltar {
        font-size: 18px;
        text-align: center;
    }    

    .back-beje-mobile {
        background: #f8f8f8;
    }
    
    .bem-vindo {
        font-size: 15px;
    }
}