<div *ngIf="fim">
  <p class="detalhes-titulo">Detalhes do acordo:</p>
  <p>Data do primeiro pagamento: {{ dataPagamento.toLocaleString().split(',')[0] }}</p>
  <p>Valor da {{ primeiraParcelado()? 'primeira':'' }} parcela: R$ {{ primeiraParcelado()? primeiraParcelado():valorAVista() }}</p>
  <p *ngIf="vezesParcelado()">Demais parcelas: {{ vezesParcelado() }} x R$ {{ outrasParcelado() }}</p>
  <div class="row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-yellow" (click)="gravaAcordo()">
        Confirmar acordo
      </button>
    </div>
    <div class="col-6 col-sm-4">
      <button type="button" class="btn btn-primary" (click)="mudarData()">
        Mudar data
      </button>
    </div>
    <div class="col-6 col-sm-4">
      <button type="button" class="btn btn-primary" (click)="voltar()">
        Mudar parcelamento
      </button>
    </div>            
  </div>
</div>

<div class="opcoes-parcelamento" *ngIf="opcoesParcelamento">
    <p class="escolha-data">Data para o pagamento:</p>
    <div class="row">
    <div class="col-sm-4">
        <input type="text"
        placeholder="Clique para escolher uma data"
        class="form-control"
        bsDatepicker [minDate]="minDate"
        [maxDate]="maxDate"  [(ngModel)]="dataPagamento">
    </div>  
    <div class="col-sm-3">
      <button type="button" class="btn btn-primary" (click)="showFinalizacao()">
          Informar data
      </button>      
    </div>
    <div class="col-sm-3">      
      <button type="button" class="btn btn-primary" (click)="voltar()">
        Voltar
      </button>
    </div>    
  </div>
</div>  