<div class="tela-grid">

 <div class="cpf-box">
    <img src="assets/img/logo.png" alt="Claro" class="logo">
    <p>Quer negociar com a Claro? <br> Inicie aqui uma consulta sem custo!  </p>
        <div class="form-group"> 
            <input type="text" [textMask]="mask()" class="form-control col-sm-8" aria-describedby="emailHelp" placeholder="Digite seu CPF ou CNPJ" [(ngModel)]="cpf_cnpj" (input)="clearAlerts()" (focus)="clearDisclaimer()"  (keydown.backspace)="backspacePress($event)" (keydown.enter)="valida()">
            <button type="submit" class="col-sm-3" (click)="valida()">Verificar</button>            
        <div class="input_error">
            <p *ngIf="erro">Houve um erro. Tente novamente, por favor.</p>
            <p *ngIf="cpf_inv">CPF inválido.</p>
            <p *ngIf="cnpj_inv">CNPJ inválido.</p>
            <p *ngIf="input_inv">Por favor, informe um CPF ou CNPJ.</p>
            <p *ngIf="verificando">Aguarde, estamos verificando . . .</p>
            <p *ngIf="cpf_sem_debitos">O CPF informado não tem débitos ou acordos.</p>
            <p *ngIf="cnpj_sem_debitos">O CNPJ informado não tem débitos ou acordos.</p>
        </div>        
    </div> 
 </div>

 <a class="fixed-bottom auto_inicio" target="_blank" href="http://www.fulltimesolucoes.com.br/" *ngIf="disclaimer">{{ disclaimer }}  A Fulltime é uma empresa autorizada pela Claro para a cobrança de débito.</a>

</div>
