<img src="assets/img/logo.png" alt="Claro" class="logo">
<h3 class="text-center">Selecione o produto que deseja o reenvio de boleto:</h3>

    <accordion [isAnimated]="true">
        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>
            <img src="assets/icons/phone.jpg" class="produto-img" alt="...">
            <div class="pull-left float-left produto-heading">Claro Móvel</div>
          </button>
                    
      
        </accordion-group>
        <accordion-group>
          <button class="btn btn-link" accordion-heading>
            <img src="assets/icons/internet.jpg" class="produto-img" alt="...">
            <div class="pull-left float-left produto-heading">Claro Internet</div>
          </button>
        </accordion-group>
        <accordion-group>
            <button class="btn btn-link btn-block clearfix" accordion-heading>
              <img src="assets/icons/tv.jpg" class="produto-img" alt="...">
              <div class="pull-left float-left produto-heading">Claro TV</div>
            </button>
          </accordion-group>
      </accordion>
      