button {
    text-decoration: none !important;
}

.produto-heading {
    line-height: 44px;
    font-size: 22px;
    margin-left: 10px;    
    }
    
    .logo {
        width: 120px;
        display: block;
        margin: 10px auto;
    }
    
    
    .produto-img {
        height: 45px;
        float: left;
    }

    .btn-accordion {
        line-height: 50px;
        font-size: 20px;
    }

    .acc-body {
        position: relative;
        top: -15px;
    }
    
    @media (max-width: 768px) {
        .btn-accordion {
            font-size: 16px;
        }    

        .produto-img {
            height: 25px;
        }    

    }    