<div class="row">
    <a class="card col-lg-3" href="" target=" _blank">
            <img src="assets/icons/messenger.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">MESSENGER</h5>
            <p class="card-text">Converse conosco pelo messenger do Facebook!</p>
            </div>
            <p class="btn btn-acessar">Quero negociar!</p>
    </a>

    <a class="card col-lg-3" target=" _blank">
        <img src="assets/icons/virtual_assistant.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">ASSISTENTE VIRTUAL</h5>
        <p class="card-text">Converse conosco pelo chat!</p>
        
        </div>
        <p class="btn btn-acessar">Quero negociar!</p>
    </a>

    <a class="card col-lg-3" href="" target=" _blank">
        <img src="assets/icons/telegram.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">TELEGRAM</h5>
        <p class="card-text">Converse conosco pelo Telegram!</p>
        
        </div>
        <p class="btn btn-acessar">Quero negociar!</p>
    </a>
</div>    