<header *ngIf="showHeader">
  <img src="assets/img/logo.png" alt="Claro" class="logo">
  <h3 class="text-center">Selecione um contrato para avaliar as condições de negociação:</h3>
</header>

<accordion [isAnimated]="true" [closeOthers]="true">
  
  <accordion-group *ngIf="dadosDivida.length">
    <button class="btn btn-link btn-block clearfix btn-accordion" accordion-heading (click)="getAllOpcoesClaroMovel()">
      <img src="assets/icons/phone.jpg" class="produto-img" alt="...">
      <div class="pull-left float-left produto-heading">Claro Móvel 
        <span class="movelLabel" *ngIf="movelLabel">Débitos para serem negociados:</span>
        <span class="movelLabel" *ngIf="opcoesParcelamentoLabel">Opções de parcelamento:</span>
      </div>  
    </button>  
          
    <div class="row opcoes-parcelamento" *ngIf="opcoesParcelamento">
        <div class="col-6" *ngFor="let opc of opcoesPg[this.dadosDivida[this.ind_parcelado].CodigoTitulo].OpcaoPagamento; let ind = index" [hidden]="!ind">
          <button type="button" class="btn btn-primary" (click)="showPrazoFinalizacao()">
              R$ {{ getOpcao(ind) }}
          </button>
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-primary col-6" (click)="hideOpcoesParcelamento()">
             Voltar
          </button>
        </div>  
      </div>   
  
    <app-prazo-finalizacao *ngIf="prazoFinalizacao" (clickVoltar)="showOpcoesParcelamento()"></app-prazo-finalizacao>
      
    <div class="row" [hidden]="opcoesParcelamento || prazoFinalizacao">
      <div class="metodo-pagamento col-xl-4 col-lg-6" *ngFor="let div of dadosDivida; let ind = index">
        <div class="metodo-de-pagamento">
          Valor total: R$ {{ dadosDivida[ind].Parcelas.ParcelaDivida.Valor }}
        </div>
        <div class="row">  
          <div class="col-6 pr-0"> <!--  col-sm-3 -->
            <button type="button" class="btn btn-primary"> 
              À vista:<br> R$ {{ getValorNegociar(dadosDivida[ind].CodigoTitulo) }} 
            </button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-primary" (click)="showOpcoesParcelamento(ind)" *ngIf="nao_parcelado[dadosDivida[ind].CodigoTitulo]"> 
              Parcelado
            </button> 
            <button type="button" class="btn btn-primary font-15px" *ngIf="!nao_parcelado[dadosDivida[ind].CodigoTitulo]" disabled>
              Sem opção de parcelamento  
            </button>
          </div>
        </div>    
      </div>
    </div>
      
  </accordion-group>
  <accordion-group *ngIf="apiRestService.getDividasClaroInternet().length">
    <button class="btn btn-link btn-accordion" accordion-heading>
      <img src="assets/icons/internet.jpg" class="produto-img" alt="...">
      <div class="pull-left float-left produto-heading">Claro Internet</div>
    </button>
  </accordion-group>
  <accordion-group *ngIf="apiRestService.getDividasClaroTv().length">
      <button class="btn btn-link btn-block clearfix btn-accordion" accordion-heading>
        <img src="assets/icons/tv.jpg" class="produto-img" alt="...">
        <div class="pull-left float-left produto-heading">Claro TV</div>
      </button>
    </accordion-group>
</accordion>
