<header *ngIf="showHeader">
  <img src="assets/img/logo.png" alt="Claro" class="logo">
  <h3 class="text-center">Selecione um contrato para avaliar as condições de negociação:</h3>
</header>

<accordion [isAnimated]="true" [closeOthers]="true">
  
  <accordion-group *ngIf="apiRestService.dividasClaroMovel.Divida.DadosDivida.length && mostrarAbas[0]">
    <button class="btn btn-link btn-block clearfix btn-accordion" accordion-heading (click)="botaoNaoClicavel() && getAllOpcoesClaroMovel()" [class.mobile-hidden]="!showHeader">
      <img src="assets/icons/phone.jpg" class="produto-img" alt="...">
      <div class="pull-left float-left produto-heading"><span>Claro Móvel</span> 
        <span class="movelLabel" *ngIf="movelLabel">Débitos para serem negociados</span>
        <span class="movelLabel" *ngIf="opcoesParcelamentoLabel">Opções de parcelamento</span>
      </div>        
    </button>  

    <div class="row opcoes-parcelamento" *ngIf="opcoesParcelamento && opcoesPg[this.apiRestService.dividasClaroMovel.Divida.DadosDivida[ind_parcelado].CodigoTitulo]">
        <p class="w-100 pl-15px no-margimBottom-mobile">Opções de Parcelamento:</p>
        <div class="col-xs-12 col-sm-6" [class.col-lg-4]="opcoesPg[this.apiRestService.dividasClaroMovel.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento.length > 4" *ngFor="let opc of opcoesPg[this.apiRestService.dividasClaroMovel.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento; let ind = index" [hidden]="!ind">
          <button type="button" class="btn btn-primary back-red" [class.btn-smaller]="opcoesPg[this.apiRestService.dividasClaroMovel.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento.length > 4" (click)="showPrazoFinalizacao(); pagarParceladoMovel(ind, apiRestService.dividasClaroMovel.Divida.DadosDivida[ind_parcelado].CodigoTitulo, opcoesPg[this.apiRestService.dividasClaroMovel.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento[ind].Plano)"> 
              R$ {{ getOpcaoMovel(ind) }}
          </button>
        </div>
        <div class="col-xs-12 col-sm-6" [class.col-lg-4]="opcoesPg[this.apiRestService.dividasClaroMovel.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento.length > 4"> 
          <button type="button" class="btn btn-primary back-red" (click)="hideOpcoesParcelamento()" [class.btn-smaller]="opcoesPg[this.apiRestService.dividasClaroMovel.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento.length > 4">
             Voltar
          </button>
        </div>  
      </div>   
  
    <app-prazo-finalizacao *ngIf="prazoFinalizacao" (clickVoltar)="showOpcoesParcelamento(0)" (clickVoltarAVista)="hideOpcoesParcelamento()"></app-prazo-finalizacao>
    <div class="loader-wrap-wrap" *ngIf="loader">  
        <div class="loader-wrap">
          <div class="loader"></div>
        </div>  
      </div>
      
    <div [hidden]="opcoesParcelamento || prazoFinalizacao || loader" class="row"> 
     <div class="col-xl-4" *ngFor="let div of apiRestService.dividasClaroMovel.Divida.DadosDivida; let ind = index"> 
      <div class="metodo-pagamento up-30px up-15px-mobile">
        <div class="metodo-de-pagamento">
          <span class="font-weight-bold">Valor total: R$ {{ getValorTotal(div.CodigoTitulo) }} </span><br>
          <div *ngIf="div.Parcelas.ParcelaDivida.length">
            <div *ngFor="let par of div.Parcelas.ParcelaDivida">
              Data Venc.: {{ par.Vencimento }}              
            </div>
          </div>
          <div *ngIf="div.Parcelas.ParcelaDivida.Vencimento">
              Data Venc.: {{ div.Parcelas.ParcelaDivida.Vencimento }}
          </div>
        </div>
        <div class="row">  
          <div class="col-6 pr-0"> <!--  col-sm-3 -->
            <button type="button" class="btn btn-primary back-red" (click)="showPrazoFinalizacao(); pagarAVista(div.CodigoTitulo, getValorNegociar(div.CodigoTitulo), opcoesPg[div.CodigoTitulo].OpcaoPagamento.Plano)"> 
              À vista:<br> R$ {{ getValorNegociar(div.CodigoTitulo) }} 
            </button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-primary back-red" *ngIf="!parcelado[div.CodigoTitulo]"> 
                Aguarde...
            </button>            
            <button type="button" class="btn btn-primary back-red" (click)="showOpcoesParcelamento(ind)" *ngIf="parcelado[div.CodigoTitulo] === 2"> 
              Parcelado
            </button>
            <button type="button" class="btn btn-primary font-15px back-red" *ngIf="parcelado[div.CodigoTitulo] === 1" disabled> 
              Sem opção de parcelamento
            </button> 
          </div>
        </div>    
      </div>
    </div>
  </div>
  </accordion-group>

  <accordion-group *ngIf="apiRestService.dividasClaroTv.Divida.DadosDivida.length && mostrarAbas[1]">
    <button class="btn btn-link btn-block clearfix btn-accordion" accordion-heading (click)="botaoNaoClicavel() && getAllOpcoesClaroTv()" [class.mobile-hidden]="!showHeader">
      <img src="assets/icons/tv.jpg" class="produto-img" alt="...">
      <div class="pull-left float-left produto-heading"><span>Claro TV</span> 
        <span class="movelLabel" *ngIf="movelLabel">Débitos para serem negociados</span>
        <span class="movelLabel" *ngIf="opcoesParcelamentoLabel">Opções de parcelamento</span>
      </div>        
    </button>  

    <div class="row opcoes-parcelamento" *ngIf="opcoesParcelamento && opcoesPg[this.apiRestService.dividasClaroTv.Divida.DadosDivida[ind_parcelado].CodigoTitulo]">
        <p class="w-100 pl-15px">Opções de Parcelamento:</p>
        <div class="col-xs-12 col-sm-6" [class.col-lg-4]="opcoesPg[this.apiRestService.dividasClaroTv.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento.length > 4" *ngFor="let opc of opcoesPg[this.apiRestService.dividasClaroTv.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento; let ind = index" [hidden]="!ind">
          <button type="button" class="btn btn-primary back-red" [class.btn-smaller]="opcoesPg[this.apiRestService.dividasClaroTv.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento.length > 4" (click)="showPrazoFinalizacao(); pagarParceladoTv(ind, apiRestService.dividasClaroTv.Divida.DadosDivida[ind_parcelado].CodigoTitulo, opcoesPg[this.apiRestService.dividasClaroTv.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento[ind].Plano)"> 
              R$ {{ getOpcaoTv(ind) }}
          </button>
        </div>
        <div class="col-xs-12 col-sm-6" [class.col-lg-4]="opcoesPg[this.apiRestService.dividasClaroTv.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento.length > 4"> 
          <button type="button" class="btn btn-primary back-red" [class.btn-smaller]="opcoesPg[this.apiRestService.dividasClaroTv.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento.length > 4" (click)="hideOpcoesParcelamento()">
             Voltar
          </button>
        </div>  
      </div>   
  
    <app-prazo-finalizacao *ngIf="prazoFinalizacao" (clickVoltar)="showOpcoesParcelamento(0)" (clickVoltarAVista)="hideOpcoesParcelamento()"></app-prazo-finalizacao>
    <div class="loader-wrap-wrap" *ngIf="loader">  
        <div class="loader-wrap">
          <div class="loader"></div>
        </div>  
      </div>
      
    <div [hidden]="opcoesParcelamento || prazoFinalizacao || loader" class="row"> 
     <div class="col-xl-4" *ngFor="let div of apiRestService.dividasClaroTv.Divida.DadosDivida; let ind = index"> 
      <div class="metodo-pagamento up-30px up-15px-mobile">
        <div class="metodo-de-pagamento">
          <span class="font-weight-bold">Valor total: R$ {{ getValorTotal(div.CodigoTitulo) }} </span><br>
          <div *ngIf="div.Parcelas.ParcelaDivida.length">
            <div *ngFor="let par of div.Parcelas.ParcelaDivida">
              Data Venc.: {{ par.Vencimento }}              
            </div>
          </div>
          <div *ngIf="div.Parcelas.ParcelaDivida.Vencimento">
              Data Venc.: {{ div.Parcelas.ParcelaDivida.Vencimento }}
          </div>
        </div>
        <div class="row">  
          <div class="col-6 pr-0"> <!--  col-sm-3 -->
            <button type="button" class="btn btn-primary back-red" (click)="showPrazoFinalizacao(); pagarAVista(div.CodigoTitulo, getValorNegociar(div.CodigoTitulo), opcoesPg[div.CodigoTitulo].OpcaoPagamento.Plano)"> 
              À vista:<br> R$ {{ getValorNegociar(div.CodigoTitulo) }} 
            </button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-primary back-red" *ngIf="!parcelado[div.CodigoTitulo]"> 
                Aguarde...
            </button>            
            <button type="button" class="btn btn-primary back-red" (click)="showOpcoesParcelamento(ind)" *ngIf="parcelado[div.CodigoTitulo] === 2"> 
              Parcelado
            </button>
            <button type="button" class="btn btn-primary font-15px back-red" *ngIf="parcelado[div.CodigoTitulo] === 1" disabled> 
              Sem opção de parcelamento
            </button> 
          </div>
        </div>    
      </div>
    </div>
  </div>
  </accordion-group>
 
  <accordion-group *ngIf="apiRestService.dividasClaroInternet.Divida.DadosDivida.length && mostrarAbas[2]">
    <button class="btn btn-link btn-block clearfix btn-accordion" accordion-heading (click)="botaoNaoClicavel() && getAllOpcoesClaroInternet()" [class.mobile-hidden]="!showHeader">
      <img src="assets/icons/internet.jpg" class="produto-img" alt="...">
      <div class="pull-left float-left produto-heading"><span>Claro Internet</span> 
        <span class="movelLabel" *ngIf="movelLabel">Débitos para serem negociados</span>
        <span class="movelLabel" *ngIf="opcoesParcelamentoLabel">Opções de parcelamento</span>
      </div>        
    </button>  

    <div class="row opcoes-parcelamento" *ngIf="opcoesParcelamento && opcoesPg[this.apiRestService.dividasClaroInternet.Divida.DadosDivida[ind_parcelado].CodigoTitulo]">
        <p class="w-100 pl-15px">Opções de Parcelamento:</p>
        <div class="col-xs-12 col-sm-6 wrap-opcao-btn" [class.col-lg-4]="opcoesPg[this.apiRestService.dividasClaroInternet.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento.length > 4" *ngFor="let opc of opcoesPg[this.apiRestService.dividasClaroInternet.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento; let ind = index" [hidden]="!ind">
          <button type="button" class="btn btn-primary back-red" [class.btn-smaller]="opcoesPg[this.apiRestService.dividasClaroInternet.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento.length > 4" (click)="showPrazoFinalizacao(); pagarParceladoMovel(ind, apiRestService.dividasClaroInternet.Divida.DadosDivida[ind_parcelado].CodigoTitulo, opcoesPg[this.apiRestService.dividasClaroInternet.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento[ind].Plano)"> 
              R$ {{ getOpcaoInternet(ind) }}
          </button>
        </div>
        <div class="col-xs-12 col-sm-6" [class.col-lg-4]="opcoesPg[this.apiRestService.dividasClaroInternet.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento.length > 4"> 
          <button type="button" class="btn btn-primary back-red" (click)="hideOpcoesParcelamento()" [class.btn-smaller]="opcoesPg[this.apiRestService.dividasClaroInternet.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento.length > 4">
             Voltar
          </button>
        </div>  
      </div>   
  
    <app-prazo-finalizacao *ngIf="prazoFinalizacao" (clickVoltar)="showOpcoesParcelamento(0)" (clickVoltarAVista)="hideOpcoesParcelamento()"></app-prazo-finalizacao>
    <div class="loader-wrap-wrap" *ngIf="loader">  
        <div class="loader-wrap">
          <div class="loader"></div>
        </div>  
      </div>
      
    <div [hidden]="opcoesParcelamento || prazoFinalizacao || loader" class="row"> 
     <div class="col-xl-4" *ngFor="let div of apiRestService.dividasClaroInternet.Divida.DadosDivida; let ind = index"> 
      <div class="metodo-pagamento up-30px up-15px-mobile">
        <div class="metodo-de-pagamento">
          <span class="font-weight-bold">Valor total: R$ {{ getValorTotal(div.CodigoTitulo) }} </span><br>
          <div *ngIf="div.Parcelas.ParcelaDivida.length">
            <div *ngFor="let par of div.Parcelas.ParcelaDivida">
              Data Venc.: {{ par.Vencimento }}              
            </div>
          </div>
          <div *ngIf="div.Parcelas.ParcelaDivida.Vencimento">
              Data Venc.: {{ div.Parcelas.ParcelaDivida.Vencimento }}
          </div>
        </div>
        <div class="row">  
          <div class="col-6 pr-0"> <!--  col-sm-3 -->
            <button type="button" class="btn btn-primary back-red" (click)="showPrazoFinalizacao(); pagarAVista(div.CodigoTitulo, getValorNegociar(div.CodigoTitulo), opcoesPg[div.CodigoTitulo].OpcaoPagamento.Plano)"> 
              À vista:<br> R$ {{ getValorNegociar(div.CodigoTitulo) }} 
            </button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-primary back-red" *ngIf="!parcelado[div.CodigoTitulo]"> 
                Aguarde...
            </button>            
            <button type="button" class="btn btn-primary back-red" (click)="showOpcoesParcelamento(ind)" *ngIf="parcelado[div.CodigoTitulo] === 2"> 
              Parcelado
            </button>
            <button type="button" class="btn btn-primary font-15px back-red" *ngIf="parcelado[div.CodigoTitulo] === 1" disabled> 
              Sem opção de parcelamento
            </button> 
          </div>
        </div>    
      </div>
    </div>
  </div>
  </accordion-group>  

  <accordion-group *ngIf="apiRestService.dividasClaroFixo.Divida.DadosDivida.length && mostrarAbas[3]">
    <button class="btn btn-link btn-block clearfix btn-accordion" accordion-heading (click)="botaoNaoClicavel() && getAllOpcoesClaroFixo()" [class.mobile-hidden]="!showHeader">
      <img src="assets/icons/internet.jpg" class="produto-img" alt="...">
      <div class="pull-left float-left produto-heading"><span>Claro Fixo</span> 
        <span class="movelLabel" *ngIf="movelLabel">Débitos para serem negociados</span>
        <span class="movelLabel" *ngIf="opcoesParcelamentoLabel">Opções de parcelamento</span>
      </div>        
    </button>  

    <div class="row opcoes-parcelamento" *ngIf="opcoesParcelamento && opcoesPg[this.apiRestService.dividasClaroFixo.Divida.DadosDivida[ind_parcelado].CodigoTitulo]">
        <p class="w-100 pl-15px">Opções de Parcelamento:</p>
        <div class="col-xs-12 col-sm-6" [class.col-lg-4]="opcoesPg[this.apiRestService.dividasClaroFixo.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento.length > 4" *ngFor="let opc of opcoesPg[this.apiRestService.dividasClaroFixo.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento; let ind = index" [hidden]="!ind">
          <button type="button" class="btn btn-primary back-red" [class.btn-smaller]="opcoesPg[this.apiRestService.dividasClaroFixo.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento.length > 4" (click)="showPrazoFinalizacao(); pagarParceladoFixo(ind, apiRestService.dividasClaroFixo.Divida.DadosDivida[ind_parcelado].CodigoTitulo, opcoesPg[this.apiRestService.dividasClaroFixo.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento[ind].Plano)"> 
              R$ {{ getOpcaoFixo(ind) }}
          </button>
        </div>
        <div class="col-xs-12 col-sm-6" [class.col-lg-4]="opcoesPg[this.apiRestService.dividasClaroFixo.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento.length > 4"> 
          <button type="button" class="btn btn-primary back-red" [class.btn-smaller]="opcoesPg[this.apiRestService.dividasClaroFixo.Divida.DadosDivida[ind_parcelado].CodigoTitulo].OpcaoPagamento.length > 4" (click)="hideOpcoesParcelamento()" >
             Voltar
          </button>
        </div>  
      </div>   
  
    <app-prazo-finalizacao *ngIf="prazoFinalizacao" (clickVoltar)="showOpcoesParcelamento(0)" (clickVoltarAVista)="hideOpcoesParcelamento()"></app-prazo-finalizacao>
    <div class="loader-wrap-wrap" *ngIf="loader">  
        <div class="loader-wrap">
          <div class="loader"></div>
        </div>  
      </div>
      
    <div [hidden]="opcoesParcelamento || prazoFinalizacao || loader" class="row"> 
     <div class="col-xl-4" *ngFor="let div of apiRestService.dividasClaroFixo.Divida.DadosDivida; let ind = index"> 
      <div class="metodo-pagamento up-30px up-15px-mobile">
        <div class="metodo-de-pagamento">
          <span class="font-weight-bold">Valor total: R$ {{ getValorTotal(div.CodigoTitulo) }} </span><br>
          <div *ngIf="div.Parcelas.ParcelaDivida.length">
            <div *ngFor="let par of div.Parcelas.ParcelaDivida">
              Data Venc.: {{ par.Vencimento }}              
            </div>
          </div>
          <div *ngIf="div.Parcelas.ParcelaDivida.Vencimento">
              Data Venc.: {{ div.Parcelas.ParcelaDivida.Vencimento }}
          </div>
        </div>
        <div class="row">  
          <div class="col-6 pr-0"> <!--  col-sm-3 -->
            <button type="button" class="btn btn-primary back-red" (click)="showPrazoFinalizacao(); pagarAVista(div.CodigoTitulo, getValorNegociar(div.CodigoTitulo), opcoesPg[div.CodigoTitulo].OpcaoPagamento.Plano)"> 
              À vista:<br> R$ {{ getValorNegociar(div.CodigoTitulo) }} 
            </button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-primary back-red" *ngIf="!parcelado[div.CodigoTitulo]"> 
                Aguarde...
            </button>            
            <button type="button" class="btn btn-primary back-red" (click)="showOpcoesParcelamento(ind)" *ngIf="parcelado[div.CodigoTitulo] === 2"> 
              Parcelado
            </button>
            <button type="button" class="btn btn-primary font-15px back-red" *ngIf="parcelado[div.CodigoTitulo] === 1" disabled> 
              Sem opção de parcelamento
            </button> 
          </div>
        </div>    
      </div>
    </div>
  </div>
  </accordion-group>
  
</accordion>
<!--
<div class="loader-wrap-wrap" *ngIf="loader">  
    <div class="loader-wrap">
      <div class="loader"></div>
    </div>  
  </div>-->