

.produto-heading {
line-height: 44px;
font-size: 22px;
margin-left: 10px;    
}

.logo {
    width: 120px;
    display: block;
    margin: 10px auto;
}

.produto-img {
    height: 45px;
    float: left;
}

.btn {
    width: 100%;
    font-size: 19px;  
}

table {
    margin-bottom: 20px;
}

.opcoes-parcelamento {  
    width: 90%;
    margin: 0 auto;
}    
    


.opcoes-parcelamento .btn {
    margin-bottom: 25px;
    width: 250px;    
}

.metodo-pagamento {
    margin-top: 25px;
}

.movelLabel {
    display: inline-block;
    margin-left: 100px;
    color: black;
    font-weight: bold;
}

.panel-collapse > div {
    padding-top: 0 !important
}

.opcoes-para-parcelamento {
    text-align: right;
}

.metodo-de-pagamento {
    text-align: center;
    margin-bottom: 5px;
}

@media (max-width: 768px) {

    h3 {
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .opcoes-para-parcelamento {
        text-align: left;
    }    

    .btn {
        margin-top: 10px;
        font-size: 17px;    
    }

    .metodo-pagamento {
        margin-top: 0px;
    }
    
    .metodo-de-pagamento {
        margin-bottom: 0;
        margin-top: 5px;
        text-align: left;
        font-size: 17px;
    }

    .btn-accordion {
        margin: 0;
        padding: 0;
    }
      
    table {
        margin-top: -16px;
        margin-bottom: -10px;
    }

    .movelLabel {
        display: none;
    }
        
}

.loader-wrap {
    height: 1500px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }